APT::Periodic::AutocleanInterval "21";
APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
Unattended-Upgrade::Mail "admin@notclickable.com";
Unattended-Upgrade::MailReport "on-change";