{{ domain_name }} {
  reverse_proxy localhost:{{ authentik_port }}
  tls {{ tls_email }}
  route {
    forward_auth localhost:{{ authentik_forward_auth_port }} {
      uri /outpost.goauthentik.io/auth/caddy
      copy_headers X-Authentik-*
    }
    reverse_proxy localhost:{{ backend_port }}
  }
}