dovecot_mail_user: "{{ lookup('env', 'MAIL_USER') | default('mailuser', true) }}"
dovecot_mail_user_password_raw: "{{ lookup('env', 'MAIL_USER_PASSWORD') | default('supersecret', true) }}"
dovecot_mail_user_password: "{{ dovecot_mail_user_password_raw | password_hash('sha512') }}"
dovecot_mail_domain: "{{ lookup('env', 'MAIL_DOMAIN') | default('yourdomain.com', true) }}"
