# Root domain
notclickable.com {
    reverse_proxy localhost:9002
}

www.notclickable.com {
    reverse_proxy localhost:9002
}

# Authentik
auth.notclickable.com {
    reverse_proxy localhost:9000
    tls internal
}

# Dozzle
dozzle.notclickable.com {
    reverse_proxy localhost:9000
    tls internal
}