services:
    grafana:
        image: grafana/grafana-enterprise
        container_name: grafana
        restart: unless-stopped
        volumes:
            - storage:/var/lib/grafana
        env_file:
            - .env
        ports:
            - 4213:3000
        networks:
            - caddy
        deploy:
            resources:
                limits:
                    memory: 1g

    loki:
        image: grafana/loki:latest
        container_name: loki
        restart: unless-stopped
        ports:
            - 4214:3100
        command: -config.file=/etc/loki/local-config.yaml
        deploy:
            resources:
                limits:
                    memory: 512m

    promtail:
        image: grafana/promtail:latest
        container_name: promtail
        restart: unless-stopped
        volumes:
            - /var/log:/var/log
            - ./promtail-config.yml:/etc/promtail/config.yml:ro
        command: -config.file=/etc/promtail/config.yml
        deploy:
            resources:
                limits:
                    memory: 256m

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        restart: unless-stopped
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
        ports:
            - 4215:9090
        deploy:
            resources:
                limits:
                    memory: 1g

volumes:
    storage:

networks:
    caddy:
        external: true
