.DS_Store
.env
ansible/inventory/host_vars/*
!ansible/inventory/host_vars/sample.yml
stacks/*/docker/mailrise/mailrise.crt
stacks/*/docker/mailrise/mailrise.key
stacks/*/docker/mailrise/mailrise.csr
stacks/*/docker/gitlab/gitlab.rb
stacks/*/docker/caddy/conf/
stacks/*/docker/gitea/.env.runner
stacks/*/docker/gitea/app.ini
stacks/*/docker/mailrise/mailrise.conf
stacks/*/*.tgz