.DS_Store

ansible/inventory/host_vars/*
!ansible/inventory/host_vars/sample.yml

stacks/*/*.tgz
stacks/*/docker/*/.env*
stacks/*/docker/*/*.tgz
stacks/*/docker/grafana/prometheus.yml
stacks/*/docker/grafana/promtail-config.yml
stacks/*/docker/lemmy/lemmy.hjson
stacks/*/docker/caddy/conf
stacks/*/docker/gitlab/gitlab.rb
stacks/*/docker/gitlab/config.toml