# --- Root user ---
linux_root_password: "password1"
linux_root_password_new: "{{ 'newplaintextpassword' | password_hash('sha512') }}"

# --- First user ---
linux_first_user_username: jordan
# Generate: https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent
# Copy: https://docs.github.com/en/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account
linux_first_user_ssh_public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBExampleKeyGoesHere jordan@rainhold-beacon"

# --- Tailscale ---
# Generate: https://tailscale.com/kb/1085/auth-keys
tailscale_authkey: "tskey-1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"

# --- Cloudflare ---
cloudflared_token: "YOUR_CLOUDFLARED_TUNNEL_TOKEN"
cloudflare_email: "your_email_address"
# See /docs/cloudflare.md#ssl-api-key for instructions
cloudflare_ssl_api_token: "YOUR_CLOUDFLARE_SSL_API_TOKEN"

# --- Rainhold ---
rainhold_dest: /etc/rainhold

# --- LLDAP ---
lldap_jwt_secret: "your_jwt_secret_here"
lldap_key_seed: "your_key_seed_here"
lldap_ldap_user_pass: "your_ldap_user_password_here"

# --- Tinyauth ---
# Generate: openssl rand -base64 32 | tr -dc 'a-zA-Z0-9' | head -c 32
# Trim the string so it is exactly 32 characters long
tinyauth_secret: "your_tinyauth_secret_here"
# Generate: https://tinyauth.app/docs/guides/pocket-id.html
tinyauth_pocket_id_client_id: "your_pocket_id_client_id_here"
tinyauth_pocket_id_client_secret: "your_pocket_id_client_secret_here"

# --- Network Share ---
network_share_host: "192.168.1.100" # path to your NAS, if applicable
network_share_username: "your_username"
network_share_password: "your_password"

network_shares:
  - name: "downloads"
    mount_point: "/mnt/downloads"
  - name: "backup"
    mount_point: "/mnt/backup"
  - name: "video"
    mount_point: "/mnt/video"

# --- Gitea ---
GITEA__database__USER: gitea
GITEA__database__NAME: gitea
GITEA__database__PASSWD: "your_gitea_database_password_here"
# Generate in Gitea after installing it
# Go to **Site Administration > Actions > Runners** and click **Create new Runner**
# Past the token here and re-run the Ansible playbook to register the runner
gitea_runner_registration_token: "your_gitea_runner_registration_token_here"

# --- N8N ---
n8n_POSTGRES_DB_name: "n8n"
n8n_POSTGRES_USER: "n8n"
n8n_POSTGRES_NON_ROOT_USER: "n8n"
n8n_POSTGRES_NON_ROOT_PASSWORD: "your_n8n_non_root_password_here"
n8n_POSTGRES_PASSWORD: "your_n8n_postgres_password_here"

# --- Lemmy ---
lemmy_db_password: "your_lemmy_db_password_here"
lemmy_hostname: "lemmy.example.com"
lemmy_pictrs_api_key: "your_pictrs_api_key_here"
lemmy_pictrs_store_endpoint: "http://s3-us-west-2.amazonaws.com"
lemmy_pictrs_store_bucket: "your_pictrs_bucket_name_here"
lemmy_pictrs_region: "us-west-2"
lemmy_pictrs_access_key: "your_pictrs_access_key_here"
lemmy_pictrs_secret_key: "your_pictrs_secret_key_here"
lemmy_postgres_user: "lemmy"
lemmy_postgres_password: "your_lemmy_postgres_password_here"
lemmy_postgres_db: "lemmy"
lemmy_postfix_hostname: "lemmy.example.com"
lemmy_email_from_address: "lemmy@example.com"
lemmy_port: 4211

# --- Grafana ---
grafana_server_root_url: "https://grafana.example.com"

# --- Backup ---
backup_path: "/mnt/backup"

# --- Mastodon ---
mastodon_postgres_user: "mastodon"
mastodon_postgres_password: "your_mastodon_postgres_password_here"
mastodon_local_domain: "mastodon.example.com"
mastodon_alternate_domains: "www.mastodon.example.com"
mastodon_streaming_domain: "wss://www.mastodon.example.com"
mastodon_secret_key_base: "your_mastodon_secret_key_base_here"
mastodon_otp_secret: "your_mastodon_otp_secret_here"
mastodon_vapid_private_key: "your_mastodon_vapid_private_key_here"
mastodon_vapid_public_key: "your_mastodon_vapid_public_key_here"
mastodon_s3_bucket: "your_mastodon_s3_bucket_here"
mastodon_s3_region: "us-west-2"
mastodon_s3_hostname: "s3-us-west-2.amazonaws.com"
mastodon_s3_access_key: "your_mastodon_s3_access_key_here"
mastodon_s3_secret_key: "your_mastodon_s3_secret_key_here"
mastodon_s3_alias_host: "something.cloudfront.net"
mastodon_smtp_server: "smtp.example.com"
mastodon_smtp_port: 465
mastodon_smtp_login: "your_smtp_login_here"
mastodon_smtp_password: "your_smtp_password_here"
mastodon_smtp_from_address: "Mastodon <mastodon@example.com>"
mastodon_active_record_encryption_deterministic_key: "your_mastodon_active_record_encryption_deterministic_key_here"
mastodon_active_record_encryption_key_derivation_salt: "your_mastodon_active_record_encryption_key_derivation_salt_here"
mastodon_active_record_encryption_primary_key: "your_mastodon_active_record_encryption_primary_key_here"


# --- Vaultwarden ---
vaultwarden_admin_token: "your_vaultwarden_admin_token_here"

# --- Postfix and Dovecot ---
postfix_port: 25
dovecot_mail_user: mailuser
dovecot_mail_user_password_raw: supersecret
dovecot_mail_domain: example.com

# --- Foldercast ---
foldercast_secret_key: "your_foldercast_secret_key_here"
foldercast_timezone: "America/New_Los_Angeles"
foldercast_csrf_trusted_origins: "http://your_server_ip:80"
foldercast_admin_name: "admin"
foldercast_admin_email: "admin@domain.com"