services:
    shamir:
        image: jordanroher/shamirs-secret-sharing-scheme
        container_name: shamir
        restart: unless-stopped
        networks:
            - caddy
        deploy:
            resources:
                limits:
                    memory: 128m

networks:
    caddy:
        external: true
