ldap.notclickable.com {
    reverse_proxy {{ ansible_host }}:4202
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

pocket-id.notclickable.com {
    reverse_proxy {{ ansible_host }}:4203
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

dozzle.notclickable.com {
    forward_auth {{ ansible_host }}:4206 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy {{ ansible_host }}:4204
}

notclickable.com {
    reverse_proxy {{ ansible_host }}:4205
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

www.notclickable.com {
    reverse_proxy {{ ansible_host }}:4205
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

tinyauth.notclickable.com {
    reverse_proxy {{ ansible_host }}:4206
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

mailrise.notclickable.com {
    reverse_proxy {{ ansible_host }}:4207
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

gitea.notclickable.com {
    reverse_proxy {{ ansible_host }}:4208
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

n8n.notclickable.com {
    forward_auth {{ ansible_host }}:4206 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy {{ ansible_host }}:4210
}

lemmy.notclickable.com {
    reverse_proxy {{ ansible_host }}:4211
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}

freshrss.notclickable.com {
    reverse_proxy {{ ansible_host }}:4212
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
}