external_url 'https://gitlab.notclickable.com';
gitlab_rails['smtp_enable'] = true;
gitlab_rails['smtp_address'] = "{{ mailrise_host }}";
gitlab_rails['smtp_port'] = {{ mailrise_port }};
gitlab_rails['smtp_user_name'] = "{{ mailrise_username }}";
gitlab_rails['smtp_password'] = "{{ mailrise_password }}";
gitlab_rails['smtp_domain'] = "mailrise.notclickable.com";
gitlab_rails['smtp_authentication'] = "plain";
gitlab_rails['smtp_enable_starttls_auto'] = true;
gitlab_rails['smtp_tls'] = true;
gitlab_rails['gitlab_email_from'] = 'gitlab@notclickable.com';
gitlab_rails['gitlab_email_reply_to'] = 'gitlab@notclickable.com';
# LDAP
gitlab_rails['ldap_enabled'] = true;
gitlab_rails['ldap_servers'] = {
  'main' => {
    'label' => 'LDAP',
    'host' => 'ldap.notclickable.com',
    'port' => 4201,
    'uid' => 'uid',
    'bind_dn' => 'cn=admin,dc=notclickable,dc=com',
    'password' => '{{ LLDAP_LDAP_USER_PASS }}',
    'encryption' => 'simple_tls',
    'verify_certificates' => true,
    'active_directory' => false
  }
};