POSTFIX_myhostname={{ lemmy_postfix_hostname }}
POSTFIX_smtp_sasl_auth_enable=yes
POSTFIX_smtp_sasl_password_maps=static:{{ mailrise_username }}:{{ mailrise_password }}
POSTFIX_smtp_sasl_security_options=noanonymous
POSTFIX_smtp_use_tls=yes
POSTFIX_smtp_tls_security_level=may
POSTFIX_header_size_limit=4096000
POSTFIX_relayhost={{ mailrise_host }}:{{ mailrise_port }}
POSTFIX_inet_interfaces=0.0.0.0
POSTFIX_inet_protocols=ipv4