POSTFIX_myhostname={{ lemmy_postfix_hostname }}
POSTFIX_smtp_sasl_auth_enable=no
POSTFIX_smtp_use_tls=no
POSTFIX_smtp_tls_security_level=none
POSTFIX_header_size_limit=4096000
POSTFIX_relayhost=[{{ mailrise_hostname }}]:{{ mailrise_port }}