PICTRS_OPENTELEMETRY_URL=http://otel:4137
PICTRS__API_KEY={{ lemmy_pictrs_api_key }}
RUST_LOG=debug
RUST_BACKTRACE=full
PICTRS__MEDIA__VIDEO_CODEC=vp9
PICTRS__MEDIA__GIF__MAX_WIDTH=256
PICTRS__MEDIA__GIF__MAX_HEIGHT=256
PICTRS__MEDIA__GIF__MAX_AREA=65536
PICTRS__MEDIA__GIF__MAX_FRAME_COUNT=400

PICTRS__STORE__TYPE=object_storage
PICTRS__STORE__ENDPOINT={{ lemmy_pictrs_store_endpoint }}
PICTRS__STORE__BUCKET_NAME={{ lemmy_pictrs_store_bucket }}
PICTRS__STORE__REGION={{ lemmy_pictrs_region }}
PICTRS__STORE__USE_PATH_STYLE=false
PICTRS__STORE__ACCESS_KEY={{ lemmy_pictrs_access_key }}
PICTRS__STORE__SECRET_KEY={{ lemmy_pictrs_secret_key }}