configs:
  "*@*":
    urls:
      - mastodons://{{ apprise_mastodon_token }}@{{ apprise_mastodon_host }}?overflow=truncate

tls:
  mode: onconnect
  certfile: /etc/mailrise.crt
  keyfile: /etc/mailrise.key

smtp:
  hostname: {{ mailrise_hostname}}
  auth:
    basic:
      {{ mailrise_username }}: {{ mailrise_password }}