configs:
  "*@*":
    urls:
      - mastodons://{{ apprise_mastodon_token }}@{{ apprise_mastodon_host }}?overflow=truncate

tls:
  mode: off

smtp:
  hostname: {{ mailrise_hostname}}
  auth:
    basic:
      {{ mailrise_username }}: {{ mailrise_password }}