configs:
  "*@*":
    urls:
      - mastodons://{{ apprise_mastodon_token }}@{{ apprise_mastodon_host }}?overflow=truncate

smtp:
  auth:
    basic:
      {{ mailrise_username }}: {{ mailrise_password }}