DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE={{ n8n_POSTGRES_DB_name }}
DB_POSTGRESDB_USER={{n8n_POSTGRES_NON_ROOT_USER}}
DB_POSTGRESDB_PASSWORD={{n8n_POSTGRES_PASSWORD}}
POSTGRES_USER={{ n8n_POSTGRES_USER }}
POSTGRES_PASSWORD={{ n8n_POSTGRES_PASSWORD }}
POSTGRES_DB={{ n8n_POSTGRES_DB_name }}
POSTGRES_NON_ROOT_USER={{ n8n_POSTGRES_NON_ROOT_USER }}
POSTGRES_NON_ROOT_PASSWORD={{ n8n_POSTGRES_NON_ROOT_PASSWORD }}