services:
    dozzle:
        image: amir20/dozzle:latest
        container_name: dozzle
        restart: unless-stopped
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        environment:
            - DOZZLE_ENABLE_ACTIONS=true
            - DOZZLE_ENABLE_SHELL=true
        networks:
            - caddy
        deploy:
            resources:
                limits:
                    memory: 256m

networks:
    caddy:
        external: true
