services:
    lldap:
        image: lldap/lldap:stable
        container_name: lldap
        restart: unless-stopped
        volumes:
            - lldap_data:/data
        env_file:
            - .env
        ports:
            - 389:3890
        networks:
            - caddy
        deploy:
            resources:
                limits:
                    memory: 128m

volumes:
    lldap_data:
        driver: local

networks:
    caddy:
        external: true
