tls {
	dns cloudflare {{ cloudflare_ssl_api_token }}
}

ldap.notclickable.com {
    reverse_proxy {{ ansible_host }}:4202
}

pocket-id.notclickable.com {
    reverse_proxy {{ ansible_host }}:4203
}

dozzle.notclickable.com {
    forward_auth {{ ansible_host }}:4206 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }
    reverse_proxy {{ ansible_host }}:4204
}

notclickable.com {
    reverse_proxy {{ ansible_host }}:4205
}

www.notclickable.com {
    reverse_proxy {{ ansible_host }}:4205
}

tinyauth.notclickable.com {
    reverse_proxy {{ ansible_host }}:4206
}