{
    auto_https off
}

http://ldap.notclickable.com {
    reverse_proxy {{ ansible_host }}:4202
    tls internal
}

http://pocket-id.notclickable.com {
    reverse_proxy {{ ansible_host }}:4203
    tls internal
}

http://dozzle.notclickable.com {
    reverse_proxy {{ ansible_host }}:4204
    tls internal
}

http://notclickable.com {
    reverse_proxy {{ ansible_host }}:4205
}

http://www.notclickable.com {
    reverse_proxy {{ ansible_host }}:4205
}

http://tinyauth.notclickable.com {
    reverse_proxy {{ ansible_host }}:4206
    tls internal
}