{
    auto_https off
}

# Root domain
http://notclickable.com {
    reverse_proxy {{ ansible_host }}:9002
}

http://www.notclickable.com {
    reverse_proxy {{ ansible_host }}:9002
}

# Dozzle
http://dozzle.notclickable.com {
    reverse_proxy {{ ansible_host }}:9001
    tls internal
}

# Pocket ID
http://auth.notclickable.com {
    reverse_proxy {{ ansible_host }}:1411
    tls internal
}

# LLDAP

http://ldap.notclickable.com {
    reverse_proxy {{ ansible_host }}:17170
    tls internal
}