configs:
  mastodon@mailrise.notclickable.com:
    urls:
      - mastodons://{{ apprise_mastodon_token }}@{{ apprise_mastodon_host }}?overflow=truncate

smtp:
  auth:
    basic:
      mailrise: {{ mailrise_password }}