services:
    db:
        image: postgres:14-alpine
        container_name: mastodon_db
        restart: unless-stopped
        env_file:
            - .env.postgres
        shm_size: 256mb
        networks:
            - internal_network
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "mastodon"]
        volumes:
            - db:/var/lib/postgresql/data
        deploy:
            resources:
                limits:
                    memory: 1g

    redis:
        image: redis:7-alpine
        container_name: mastodon_redis
        restart: unless-stopped
        command: redis-server --save 60 1 --loglevel warning
        networks:
            - internal_network
            - caddy
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
        deploy:
            resources:
                limits:
                    memory: 128m

    web:
        image: ghcr.io/mastodon/mastodon:v4.5.7
        container_name: mastodon_web
        restart: unless-stopped
        env_file:
            - .env
        command: bundle exec puma -C config/puma.rb
        networks:
            - caddy
            - external_network
            - internal_network
        healthcheck:
            # prettier-ignore
            test: ['CMD-SHELL',"curl -s --noproxy localhost localhost:3000/health | grep -q 'OK' || exit 1"]
        depends_on:
            - db
            - redis
        volumes:
            - web:/mastodon/public/system
        extra_hosts:
            - "host.docker.internal:host-gateway"
        deploy:
            resources:
                limits:
                    memory: 2g

    streaming:
        image: ghcr.io/mastodon/mastodon-streaming:v4.5.7
        container_name: mastodon_streaming
        restart: unless-stopped
        env_file:
            - .env
        command: node ./streaming/index.js
        networks:
            - caddy
            - external_network
            - internal_network
        healthcheck:
            # prettier-ignore
            test: ['CMD-SHELL', "curl -s --noproxy localhost localhost:4000/api/v1/streaming/health | grep -q 'OK' || exit 1"]
        depends_on:
            - db
            - redis
        extra_hosts:
            - "host.docker.internal:host-gateway"
        deploy:
            resources:
                limits:
                    memory: 256m

    sidekiq:
        image: ghcr.io/mastodon/mastodon:v4.5.7
        container_name: mastodon_sidekiq
        restart: unless-stopped
        env_file:
            - .env
        command: bundle exec sidekiq
        depends_on:
            - db
            - redis
        networks:
            - external_network
            - internal_network
            - caddy
        healthcheck:
            test: ["CMD-SHELL", "ps aux | grep '[s]idekiq' || false"]
        volumes:
            - web:/mastodon/public/system
        deploy:
            resources:
                limits:
                    memory: 1g

networks:
    caddy:
        external: true
    internal_network:
        driver: bridge
    external_network:
        driver: bridge

volumes:
    db:
    web:
