services:
    db:
        image: postgres:14-alpine
        container_name: mastodon_db
        restart: unless-stopped
        env_file:
            - .env.postgres
        shm_size: 256mb
        networks:
            - caddy
            - internal_network
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "mastodon"]
        volumes:
            - db:/var/lib/postgresql/data

    redis:
        image: redis:7-alpine
        container_name: mastodon_redis
        restart: unless-stopped
        networks:
            - caddy
            - internal_network
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
        volumes:
            - redis:/data

    web:
        image: ghcr.io/mastodon/mastodon:v4.5.2
        container_name: mastodon_web
        restart: unless-stopped
        env_file:
            - .env
        command: bundle exec puma -C config/puma.rb
        networks:
            - caddy
            - external_network
            - internal_network
        healthcheck:
            # prettier-ignore
            test: ['CMD-SHELL',"curl -s --noproxy localhost localhost:3000/health | grep -q 'OK' || exit 1"]
        depends_on:
            - db
            - redis
        volumes:
            - web:/mastodon/public/system
        extra_hosts:
            - "host.docker.internal:host-gateway"

    streaming:
        image: ghcr.io/mastodon/mastodon-streaming:v4.5.2
        container_name: mastodon_streaming
        restart: unless-stopped
        env_file:
            - .env
        command: node ./streaming/index.js
        networks:
            - caddy
            - external_network
            - internal_network
        healthcheck:
            # prettier-ignore
            test: ['CMD-SHELL', "curl -s --noproxy localhost localhost:4000/api/v1/streaming/health | grep -q 'OK' || exit 1"]
        depends_on:
            - db
            - redis
        extra_hosts:
            - "host.docker.internal:host-gateway"

    sidekiq:
        image: ghcr.io/mastodon/mastodon:v4.5.2
        container_name: mastodon_sidekiq
        restart: unless-stopped
        env_file:
            - .env
        command: bundle exec sidekiq -q default -q ingress -q push -q pull -q scheduler -q mailers
        depends_on:
            - db
            - redis
        networks:
            - caddy
            - external_network
            - internal_network
        healthcheck:
            test: ["CMD-SHELL", "ps aux | grep '[s]idekiq\ 8' || false"]
        volumes:
            - web:/mastodon/public/system

networks:
    caddy:
        external: true
    internal_network:
        driver: bridge
    external_network:
        driver: bridge

volumes:
    sidekiq:
    db:
    redis:
    web:
