services:
    app:
        container_name: foldercast
        image: jordanroher/foldercast
        restart: unless-stopped
        networks:
            - caddy
        env_file: .env
        volumes:
            - .:/app
            - static_volume:/app/static_cdn
            - media_volume:/app/media
            # Update the './library' path below to point to the directory on your system
            # that you want to use as your library root. Inside this directory, create or remove
            # subfolders containing your audio files. Each subfolder can be turned into an RSS feed
            # directly from the app’s web interface.
            - /mnt/media/podcasts:/app/library

    nginx:
        image: nginx:stable-alpine
        container_name: foldercast_nginx
        restart: unless-stopped
        networks:
            - caddy
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - static_volume:/app/static_cdn
            - media_volume:/app/media

            # Update the './library' path below to point to the directory on your system
            # that you want to use as your library root. Inside this directory, create or remove
            # subfolders containing your audio files. Each subfolder can be turned into an RSS feed
            # directly from the app’s web interface.
            - /mnt/media/podcasts:/app/library
        depends_on:
            - app

volumes:
    static_volume:
    media_volume:

networks:
    caddy:
        external: true
