# Run with docker compose up -d
services:
    filegator:
        image: filegator/filegator
        container_name: filegator
        restart: unless-stopped
        networks:
            - caddy
        deploy:
            resources:
                limits:
                    memory: 256m

networks:
    caddy:
        external: true
