{
    "automatic_https": {
        "disable": true,
    }
}

# Root domain
notclickable.com {
    reverse_proxy localhost:9002
}

www.notclickable.com {
    reverse_proxy localhost:9002
}

# Dozzle
dozzle.notclickable.com {
    reverse_proxy localhost:9001
    tls internal
}