APT::Periodic::AutocleanInterval "21";
APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
Unattended-Upgrade::Mail "mastodon@mailrise.notclickable.com";
Unattended-Upgrade::MailReport "always";