- name: Web server setup for Rainhold virtual machine
  hosts: public
  become: true
  roles:
    - role: postfix
    - role: dovecot
    - role: nftables-logging
    - role: clone-repository
    - role: schedule-backup
    - role: docker-network
    - role: docker-env
    - role: docker-start
    - role: docker-restart-on-boot
    - role: mastodon-feeds
