services:
    app:
        image: jordanroher/podcastdn
        container_name: podcastdn
        env_file:
            - .env
        depends_on:
            db:
                condition: service_healthy
        restart: unless-stopped
        volumes:
            - tmp:/tmp/podcast
        networks:
            - caddy

    db:
        image: postgres:16-alpine
        container_name: podcastdn_db
        env_file:
            - .env
        volumes:
            - db:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
        restart: unless-stopped
        networks:
            - caddy

volumes:
    db:
    tmp:

networks:
    caddy:
        external: true
