USER_ID=1000
GROUP_ID=1000
TZ=America/Los_Angeles
DATABASE_URL=jdbc:mariadb://booklore-mariadb:3306/booklore
DATABASE_USERNAME=booklore
DATABASE_PASSWORD={{ booklore_db_password }}
SWAGGER_ENABLED=false
FORCE_DISABLE_OIDC=false
