{
    admin 0.0.0.0:2019

    log {
        output file /var/log/caddy/access.log {
            roll_size 10MiB
            roll_keep 7
            roll_keep_for 7d
        }
        format json
    }

    metrics
}

ldap.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://lldap:17170
}

pocket-id.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://pocket-id:1411
}

dozzle.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }

    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://dozzle:8080
}

notclickable.com, www.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }
    
    reverse_proxy http://starbase-80:4173
}

tinyauth.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://tinyauth:3000
}

gitea.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }

    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://gitea:3000
}

n8n.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }

    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://n8n:5678
}

lemmy.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://lemmy-nginx:8536
}

miniflux.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://miniflux:8080
}

grafana.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }

    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://grafana:3000
}

jellyfin.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://jellyfin:8096
}

notclickable.social, www.notclickable.social {
        @local {
                file
                not path /
        }
        @streaming {
                path /api/v1/streaming /api/v1/streaming/*
        }
        @cache_control {
                path_regexp ^/(emoji|packs|/system/accounts/avatars|/system/media_attachments/files)
        }

        root * /home/mastodon/live/public

        log {
                output file /var/log/caddy/mastodon.log
        }

        handle_errors {
                rewrite 500.html
                file_server
        }

        header {
                Strict-Transport-Security "max-age=31536000"
        }
        header /sw.js Cache-Control "public, max-age=0"
        header @cache_control Cache-Control "public, max-age=31536000, immutable"

        handle @local {
                file_server
        }

        tls {
            dns cloudflare {{ cloudflare_ssl_api_token }}
        }

        reverse_proxy @streaming {
                to http://mastodon_streaming:4000
                header_up X-Forwarded-Port 443
                header_up X-Forwarded-Proto https

                transport http {
                        keepalive 5s
                        keepalive_idle_conns 10
                }
        }

        reverse_proxy {
                to http://mastodon_web:3000
                header_up X-Forwarded-Port 443
                header_up X-Forwarded-Proto https

                transport http {
                        keepalive 5s
                        keepalive_idle_conns 10
                }
        }
}

calibre.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }

    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://calibre:8083
}

ytptube.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }

    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://ytptube:8081
}

audiobookshelf.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }

    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://audiobookshelf:80
}

vaultwarden.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://vaultwarden:80
}

starbase80.dev, www.starbase80.dev {
    redir https://github.com/notclickable-jordan/starbase-80
}

shamir.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://shamir:80
}

filegator.notclickable.com {
    forward_auth http://tinyauth:3000 {
        uri /api/auth/caddy
        copy_headers Remote-User Remote-Email Remote-Name Remote-Groups
    }
    
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://filegator:8080
}

immich.notclickable.com {
    tls {
        dns cloudflare {{ cloudflare_ssl_api_token }}
    }

    reverse_proxy http://immich_server:2283
}