external_url 'http://gitlab.notclickable.com';
gitlab_rails['smtp_enable'] = true;
gitlab_rails['smtp_address'] = "{{ ansible_host }}";
gitlab_rails['smtp_port'] = {{ postfix_port }};
gitlab_rails['smtp_domain'] = "{{ ansible_host }}";
gitlab_rails['smtp_authentication'] = "none";