{
  database: {
    host: postgres
    password: "{{ lemmy_db_password }}"
  }
  hostname: "{{ lemmy_hostname }}"
  pictrs: {
    url: "http://pictrs:8080/"
    api_key: "{{ lemmy_pictrs_api_key }}"
  }
}