configs:
  "notify@notclickable.com":
    urls:
      - mastodons://{{ apprise_mastodon_token }}@{{ apprise_mastodon_host }}?overflow=truncate
  "*@*":
    urls:
      - jsons://{{ email_page_domain }}/new

tls:
  mode: off

smtp:
  hostname: {{ mailrise_hostname }}