configs:
  "alerts@notclickable.com":
    urls:
      - mastodons://{{ apprise_mastodon_token }}@{{ apprise_mastodon_host }}?overflow=truncate
    mailrise:
      title_template: "${subject}"
      body_template: "From: ${from}\n\n\n${body}"
      body_format: text
  "*@*":
    urls:
      - mailto://jordan@notclickable.com:{{ wildduck_password }}?smtp=mail.notclickable.com:2525

tls:
  mode: off

smtp:
  hostname: {{ mailrise_hostname}}