DATABASE_URL=postgres://miniflux:secret@db/miniflux?sslmode=disable
RUN_MIGRATIONS=1
CREATE_ADMIN=1
ADMIN_USERNAME={{ miniflux_admin_username }}
ADMIN_PASSWORD={{ miniflux_admin_password }}
POSTGRES_USER={{ miniflux_db_user }}
POSTGRES_PASSWORD={{ miniflux_db_password }}
POSTGRES_DB=miniflux