DATABASE_URL=postgres://{{ miniflux_db_user }}:{{ miniflux_db_password }}@miniflux-db/miniflux?sslmode=disable
RUN_MIGRATIONS=1
CREATE_ADMIN=1
ADMIN_USERNAME={{ miniflux_admin_username }}
ADMIN_PASSWORD={{ miniflux_admin_password }}
FORCE_REFRESH_INTERVAL=30

# OIDC Authentication via Pocket ID
OAUTH2_PROVIDER=oidc
OAUTH2_CLIENT_ID={{ miniflux_oidc_client_id }}
OAUTH2_CLIENT_SECRET={{ miniflux_oidc_client_secret }}
OAUTH2_REDIRECT_URL=https://{{ miniflux_hostname }}/oauth2/oidc/callback
OAUTH2_OIDC_DISCOVERY_ENDPOINT=https://{{ pocket_id_hostname }}/.well-known/openid-configuration
OAUTH2_USER_CREATION=1