# App
DATABASE_URL={{ podcastdn_DATABASE_URL }}
NEXTAUTH_URL={{ podcastdn_NEXTAUTH_URL }}
NEXTAUTH_SECRET={{ podcastdn_NEXTAUTH_SECRET }}
AUTH_TRUST_HOST={{ podcastdn_AUTH_TRUST_HOST }}

# AWS S3
AWS_REGION={{ podcastdn_AWS_REGION }}
AWS_ACCESS_KEY_ID={{ podcastdn_AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY={{ podcastdn_AWS_SECRET_ACCESS_KEY }}
S3_BUCKET_NAME={{ podcastdn_S3_BUCKET_NAME }}

# Optional CDN
CLOUDFRONT_DOMAIN={{ podcastdn_CLOUDFRONT_DOMAIN }}
CLOUDFRONT_DISTRIBUTION_ID={{ podcastdn_CLOUDFRONT_DISTRIBUTION_ID }}
CUSTOM_DOMAIN={{ podcastdn_CUSTOM_DOMAIN }}

# Polling
POLLING_INTERVAL_MINUTES={{ podcastdn_POLLING_INTERVAL_MINUTES }}
