SECRET={{ tinyauth_secret }}
APP_URL=https://tinyauth.notclickable.com
GENERIC_CLIENT_ID={{ tinyauth_pocket_id_client_id }}
GENERIC_CLIENT_SECRET={{ tinyauth_pocket_id_client_secret }}
GENERIC_AUTH_URL=https://pocket-id.notclickable.com/authorize
GENERIC_TOKEN_URL=https://pocket-id.notclickable.com/api/oidc/token
GENERIC_USER_URL=https://pocket-id.notclickable.com/api/oidc/userinfo
GENERIC_SCOPES=openid email profile groups
GENERIC_NAME=Pocket ID