DOMAIN=https://vaultwarden.notclickable.com
SIGNUPS_ALLOWED=true
ADMIN_TOKEN={{ vaultwarden_admin_token }}
SMTP_HOST={{ ansible_host }}
SMTP_FROM=vaultwarden@notclickable.com
SMTP_FROM_NAME=Vaultwarden
SMTP_SECURITY=off
SMTP_PORT={{ postfix_port }}