WATCHTOWER_NOTIFICATIONS=email
WATCHTOWER_NOTIFICATION_EMAIL_FROM=watchtower@notclickable.com
WATCHTOWER_NOTIFICATION_EMAIL_TO=notify@notclickable.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER={{ mailrise_hostname }}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT={{ mailrise_port }}
WATCHTOWER_NOTIFICATION_EMAIL_DELAY=2