WATCHTOWER_NOTIFICATIONS=email
WATCHTOWER_NOTIFICATION_EMAIL_FROM=watchtower@notclickable.com
WATCHTOWER_NOTIFICATION_EMAIL_TO=notify@notclickable.com
WATCHTOWER_NOTIFICATION_EMAIL_SERVER={{ ansible_host }}
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT={{ postfix_port }}
WATCHTOWER_NOTIFICATION_EMAIL_DELAY=2