services:
    pocket-id:
        image: ghcr.io/pocket-id/pocket-id:v1.4.1
        container_name: pocket-id
        restart: unless-stopped
        env_file:
            - .env
        volumes:
            - data:/app/data
        healthcheck:
            test: "curl -f http://localhost:1411/healthz"
            interval: 1m30s
            timeout: 5s
            retries: 2
            start_period: 10s
        networks:
            - caddy
        deploy:
            resources:
                limits:
                    memory: 256m

volumes:
    data:

networks:
    caddy:
        external: true
